[user]
  email = wzhong20@uic.edu
  name = Wenshao Zhong
[core]
  editor = vim
[pull]
  rebase = false
  ff = only
[diff]
  tool = vimdiff

[alias]
  ls = diff --name-status
  la = status -s
  blt = branch --sort=committerdate

[commit]
  gpgsign = true
