[submodule ".tmux-powerline"]
	path = .tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "/home/sheldon/.vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/sheldon/.tmux"]
	path = /home/sheldon/.tmux
	url = https://github.com/gpakosz/.tmux.git
